.screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 90vh;
  max-width: 100vw;
  justify-content: space-around;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.tiny {
  font-size: 0.9em;
  color: dimgrey;
}

.intro h2, .intro p {
  margin: 0;
}

.up::after {
  color: green;
  content: '▲';
}

.down::after {
  color: red;
  content: '▼';
}

.trade {
  font-size: 4rem;
  border-radius: 7px;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action > * {
  text-align: center;
}

@media (max-width: 600px) {
  .action {
    justify-content: space-around;
    width: 100vw;
  }
}

@media (min-width: 601px) {
  .action {
    justify-content: center;
  }
  .action > * {
    margin: 10px;
  }
}

.enter-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-size: 32px;
}

.enter-name > input {
  font-size: 32px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.exchange {
  font-size: 4em;
}

@media (max-with: 600px) {
  .exchange {
    font-size: 2rem;
  }
}

.btc {
  color: #f7931a;
}

.usd {
  color: green;
}

button {
  border-radius: 15px;
  padding: 10px 30px 10px 30px;
  border: 0px solid white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}

.buy > button {
  background: #f7931a;
}

.buy > button:hover {
  box-shadow: 0px 0px 100px orange;
}

.sell > button {
  background-color: green;
}

.sell > button:hover {
  box-shadow: 0px 0px 100px green;
}

.play-button {
  background-color: green;
  font-size: 2em;
  margin-top: 30px;
}

.play-button:hover {
  box-shadow: 0px 0px 100px green;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
